{% extends 'base.html.twig' %}

{% block title %} WAPOSAT {% endblock %}

{% block body %}
	{{ parent() }}
	<h1><span class="label label-danger grumpy">WAPOSAT > Acerca de Nosotros</span></h1>
	<div class="text-center" style="margin-top: 40px;">
		<h2 class="bg-info">Misión</h2>
		<p>Innovar, desarrollar y brindar productos y servicios tecnologicos de informacion en tiempo real de las condiciones reales del agua.</p>
		<h2 class="bg-info">Visión</h2>
		<p>Ser una empresa tecnológica lider en el control y la mitigación de la contaminación del agua.</p>
	</div> 
{% endblock %}