<footer class="text-center col-md-12 inline-block" style="margin-top: 25px">
	<nav>
        <ul class="nav navbar-nav center-block" style="float: none;">
	        <li style="float: none;display: inline-block; text-align: center;"><a href="{{ path('app_view_index') }}"> {% trans %} Inicio {% endtrans %} </a></li>
	        <li style="float: none;display: inline-block; text-align: center;"><a href="{{ path('app_view_about') }}"> {% trans %} Acerca {% endtrans %} </a></li>
	        <li style="float: none;display: inline-block; text-align: center;"><a href="{{ path('app_view_contact') }}"> {% trans %} Contáctanos {% endtrans %} </a></li>
	        <li style="float: none;display: inline-block; text-align: center;"><a href="{{ path('app_view_freestations') }}"> {% trans %} Estaciones libres {% endtrans %} </a></li>
        </ul>
	</nav>
	<div class="col-md-12 bg-primary">
		<h4>© All Rights Reserved</h4>
	</div>
</footer>