# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:

    encoders:
        AppBundle\Entity\Users:
            algorithm: plaintext

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        in_memory:
            memory: ~

        our_db_provider:
            entity:
                class: AppBundle:Users
                property: username

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            form_login:
                login_path: login
                check_path: login
                #default_target_path: currentPage
                failure_path: login

            logout:
                path:   /logout
                target: /login
                #target_path_parameter: registerPage

            pattern:    ^/
            http_basic: ~
            provider: our_db_provider

    role_hierarchy:
        ROLE_ADMIN: ROLE_USER

    access_control:
        #- { path: ^/admin/users, roles: ROLE_SUPER_ADMIN }
        - { path: ^/dashboard, roles: ROLE_USER }
        - { path: ^/v2/dashboard, roles: ROLE_USER }
        #- { path: ^/admin, roles: ROLE_ADMIN }
        #- { path: ^/user, roles: ROLE_USER }

            # activate different ways to authenticate

            # http_basic: ~
            # http://symfony.com/doc/current/book/security.html#a-configuring-how-your-users-will-authenticate

            # form_login: ~
            # http://symfony.com/doc/current/cookbook/security/form_login_setup.html
